{% extends "clubBase.njk" %}
{% block metaStuff %}
<title>Banter FC Official Website | Forbidden Page Banetrfc.com</title>
{% endblock %}




{% block main %}

    <header id="header">
        <h1> The Banter Football/Soccer Club </h1>
    </header>

    

    <section>


    <h1>Forbidden</h1>
    <h2>You must be logged in to perform this operation or see this information.</h2>
        
       
        




    </section>


{% endblock %}
