{% extends "clubBase.njk" %}
{% block title %}
    <title>Goodbye</title>
{% endblock %}


{% block main %}
<section>        
    <h1>Goodbye from Our Club</h1>
    <h2>You are logged out.</h2>
        
</section>        
{% endblock %}
