



{% extends "clubBase.njk" %}
{% block metaStuff %}
<title> On Focus Player </title>
{% endblock %}


{% block main %}




 <header id="header">
        <h1>
            All About Thomas
        </h1>
    </header>


     <section>

<h2> Focus on Mr. Thomas </h2>

<p>
This is his strengths and weakness of Mr. Thomas
</p>

<p>
<img src= "images/partye.jpg" width="800px" height="auto">

</p>



<h3> Strength: </h3>
<ul>
* Heading
* Marking
* Concentration
* Speed
* Physical
</ul>

 <h3> Weakness: </h3>

<ul>
* Concentration
 
 </ul>


<h6>Emphasis </h6>

 <p>1. He will bring quality and presence to our midfield. </p>


 </section>



{% endblock %}
