{% extends "clubBase.njk" %}

{% block metaStuff %}
<title>Sorry! Login Problem!</title>
{% endblock %}

{% block main %}
<h1 id="about-us">Login Problem!</h1>
<section>
	<h2>Please try again! thank you!</h2>
	<p>Thanks email or password does not match!</p>
	
	
</section>
{% endblock %}