{% extends "clubBase.njk" %}

{% block metaStuff %}
<title>Thanks for Signing up</title>
{% endblock %}

{% block main %}
<h1 id="about-us">Thanks for Signing up!</h1>
<section>
	<h2>Subscribed</h2>
	<p>Thanks <strong>{{fname}} </strong> <em> {{email}} </em> you've been subscribed to our
		membership.</p>
	<p>Also confirming that you heard about us from <em>{{fname}}</em></p>
	
</section>
{% endblock %}