{% extends "clubBase.njk" %}

{% block metaStuff %}
<title>Welcome Member!</title>
{% endblock %}

{% block main %}
<h1 id="about-us">Welcome Member!</h1>
<section>
	<h2>Your email: {{user.email}}</h2>
	<h2>Your role: {{user.role}}</h2>
	
	
	
</section>
{% endblock %}
